# Формирование БД и объектов в БД.

### 1. Подготовка

In [2]:

import time
import mysql.connector  as mysql

### 2. Формирование Функций для создания БД

In [ ]:

def create_tb(
    sql_query,
    host_='', 
    user_='', 
    password_='',
    database_=''
):
    '''Функция для создания объектов в БД имеет следующие параметры:
        sql_query - sql запрос;
        host- хост БД (данные по-умолчанию);
        user - логин БД (данные по-умолчанию);
        password - пароль (данные по-умолчанию);
        database - имя (данные по-умолчанию).'''
    try:
        with mysql.connect(
            host=host_,
            user=user_,
            password=password_,
            database=database_
        ) as connection_pet:
            with connection_pet.cursor() as cursor_pet:
                cursor_pet.execute(sql_query)
                connection_pet.commit()
                print(connection_pet)
    except mysql.Error as e:
        print(e)
    
def create_db(
    sql_query,
    host_='', 
    user_='', 
    password_=''
):
    '''Функция для создания  БД имеет следующие параметры:
        sql_query - sql запрос;
        host- хост БД (данные по-умолчанию);
        user - логин БД (данные по-умолчанию);
        password - пароль (данные по-умолчанию);
    '''
    try:
        with mysql.connect(
            host=host_,
            user=user_,
            password=password_
        ) as connection_pet:
            with connection_pet.cursor() as cursor_pet:
                cursor_pet.execute(sql_query)
                connection_pet.commit()
                print(connection_pet)
    except mysql.Error as e:
        print(e)

### 3. Запросы SQL для создания БД и объектов в ней со всеми связями

In [2]:
'''   Блок написания переменных со скриптами SQL   '''

create_db_pet = 'CREATE DATABASE IF NOT EXISTS pet_proect;'
create_dict_users = """
    USE pet_proect;
    CREATE TABLE IF NOT EXISTS dict_users (
    	_id VARCHAR(50) PRIMARY KEY NOT NULL,
    	email VARCHAR(50),
    	phoneNumber FLOAT,
    	displayName VARCHAR(50),
    	firmId VARCHAR(50),
    	createDateTime DATETIME,
    	isDeleted BOOL
    );
"""

create_dict_marks = """
    USE pet_proect;
    CREATE TABLE IF NOT EXISTS dict_marks (
    	_id VARCHAR(50) PRIMARY KEY NOT NULL,
    	name VARCHAR(50),
    	isDeleted BOOL,
    	createDateTime DATETIME,
    	updateDateTime DATETIME,
        true_name VARCHAR(50)
    );
"""

create_dict_placingways = """
    USE pet_proect;
    CREATE TABLE IF NOT EXISTS dict_placingways (
    	_id INT PRIMARY KEY NOT NULL,
    	name VARCHAR(100),
        shortName VARCHAR(100)
    );
"""

create_dict_status = """
    USE pet_proect;
    CREATE TABLE IF NOT EXISTS dict_status (
    	_id INT PRIMARY KEY NOT NULL,
    	name VARCHAR(50),
        shortName VARCHAR(50),
        `order` INT
    );
"""

create_dict_region = """
    USE pet_proect;
    CREATE TABLE IF NOT EXISTS dict_region (
    	_id INT PRIMARY KEY NOT NULL,
    	name VARCHAR(200),
        OKATO VARCHAR(50),
        ISO VARCHAR(50),
        GOST VARCHAR(50)
    );
"""

create_dict_tenders = """
    USE pet_proect;
    CREATE TABLE IF NOT EXISTS dict_tenders (
    	_id VARCHAR(50) PRIMARY KEY NOT NULL,
    	multilot BOOL,
        guaranteeApp DECIMAL(10.2),
        guaranteeContract DECIMAL(10.2),
        fz TEXT,
        `href` VARCHAR(100),
        `name/garant` VARCHAR(500),
        maxPrice DECIMAL(12.2),
        status INT,
        placingWay INT,
        orderName TEXT,
        publicationDate DATETIME,
        `number` VARCHAR(100),
        region INT,
        guid VARCHAR(1000),
        `name/dict` TEXT,
        `region/customres` VARCHAR (200),
        `price-mean` DECIMAL(12.2),
        `price-std` DECIMAL(12.2),
        `price-min` DECIMAL(12.2),
        `price-max` DECIMAL(12.2),
        `score-mean` DECIMAL(1.2),
        `score-std` DECIMAL(1.2),
        `score-min` DECIMAL(1.2),
        `score-max` DECIMAL(1.2),
        CONSTRAINT FK_placingways FOREIGN KEY(placingWay)
        REFERENCES dict_placingways(_id),
        CONSTRAINT FK_status FOREIGN KEY(status)
        REFERENCES dict_status(_id),
        CONSTRAINT FR_region FOREIGN KEY(region)
        REFERENCES dict_region(_id)
    );
"""
create_marks_users = """
    USE pet_proect;
    CREATE TABLE IF NOT EXISTS marks_users (
        id INT  PRIMARY KEY NOT NULL AUTO_INCREMENT,
        _id VARCHAR(50),
        marks VARCHAR(50),
        users VARCHAR(50),
        CONSTRAINT FK_marks_users FOREIGN KEY(_id)
        REFERENCES dict_tenders(_id),
        CONSTRAINT FK_marks FOREIGN KEY(marks)
        REFERENCES dict_marks(_id),
        CONSTRAINT FK_users FOREIGN KEY(users)
        REFERENCES dict_users(_id)
    );
"""

create_participants = """
    USE pet_proect;
    CREATE TABLE IF NOT EXISTS participants (
        id INT  PRIMARY KEY NOT NULL AUTO_INCREMENT,
        _id VARCHAR(50),
        guid VARCHAR(50),
        name TEXT,
        price DECIMAL(10.2),
        region INT,
        score DECIMAL(1.2),
        winner BOOL,
        CONSTRAINT FK_tenders_participants FOREIGN KEY(_id)
        REFERENCES dict_tenders(_id)
    );
"""

create_products = """
    USE pet_proect;
    CREATE TABLE IF NOT EXISTS products (
        id INT  PRIMARY KEY NOT NULL AUTO_INCREMENT,
        _id VARCHAR(50),
        name TEXT,
        price DECIMAL(10.2),
        quantity INT,
        unit TEXT,
        CONSTRAINT FK_tenders_products FOREIGN KEY(_id)
        REFERENCES dict_tenders(_id)
    );
"""

### 4. Создание переменной со списком запросов для цикла

In [15]:
lst_tb = [
    create_dict_users,
    create_dict_marks,
    create_dict_placingways,
    create_dict_status,
    create_dict_region,
    create_dict_tenders,
    create_marks_users,
    create_participants,
    create_products
]

### 5. Цикл для создания БД и объектов (транзакции на каждый запрос)

In [16]:
'''Блок создания базы данных и объектов в ней'''

create_db(create_db_pet)

time.sleep(1)

for x in lst_tb:
    create_tb(x)
    time.sleep(1)

<mysql.connector.connection.MySQLConnection object at 0x0000019B170E3B60>
<mysql.connector.connection.MySQLConnection object at 0x0000019B16DC1E50>
<mysql.connector.connection.MySQLConnection object at 0x0000019B140BCB60>
<mysql.connector.connection.MySQLConnection object at 0x0000019B173C7CB0>
<mysql.connector.connection.MySQLConnection object at 0x0000019B170823C0>
<mysql.connector.connection.MySQLConnection object at 0x0000019B16C94440>
<mysql.connector.connection.MySQLConnection object at 0x0000019B16C94440>
<mysql.connector.connection.MySQLConnection object at 0x0000019B170823C0>
<mysql.connector.connection.MySQLConnection object at 0x0000019B16C94440>
<mysql.connector.connection.MySQLConnection object at 0x0000019B141F7830>