# Формирование таблицы словаря 'status' для базы данных.

### 1. Подготовка

In [2]:

import os
import time
import json
import datetime

import requests as rq
import pandas as pd
import numpy as np
import tqdm
from sqlalchemy import create_engine

### 2. Формирование переменных для подключения

In [ ]:

TOKEN = 'Bearer '
API = '/api/tools/statuses/list'
URL = 'https://tenderplan.ru' + API
headers = {
    'Authorization': TOKEN,
    'Accept': 'application/json'
}

engine_pet = create_engine('mysql+mysqlconnector://root:''@''/pet_proect')

### 3. Подключение к API tenderplan

In [5]:

response_status = rq.get(
    URL,
    headers=headers
).json()

### 4. Формирование DataFrame 'Status' и преобразовываем в нужный вид

Формируем DataFrame с columns:
- _id - уникальный ключ статуса;
- name - наименования статуса;
- shortname - краткое наименование;
- order - порядок статусов.

In [6]:
df_status = (
    pd.DataFrame(
        response_status,
        columns = [
            '_id',
            'name',
            'shortName',
            'order'
        ]
    )
    .set_index('_id')
)

### 5. Загружаем данные во временную таблицу 'tmp_dict_status'

In [9]:
(
    df_status
    .reset_index()
    .to_sql(
        'tmp_dict_status', 
        con = engine_pet, 
        if_exists = 'replace', 
        index = False
    )
)

-1

In [8]:
df_status.head()

                         name        shortName  order
_id
1                Прием заявок     Прием заявок      0
4         Размещение отменено         Отменено      1
5    Размещение не состоялось    Не состоялось      2
2             Работа комиссии  Работа комиссии      3
3        Размещение завершено        Завершено      4